
html {
    margin: 20px 30px; /* Margin around all sides of doc */
  }

h1 {
    text-align: center; /* Indent in center */
  }

  nav {
    padding: 10px; /* Padding for content */
    text-align: right;
  }

  a {
    padding: 10px; /* Padding for content */
  }

  .service {
    background-color: #0d83b5;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }

  .container {
    background-color: white;
    color: white;
    margin: 0;
    padding: 20px;
  }



