
html {
    margin: 20px 30px; /* Margin around all sides of doc */
  }

h1 {
    text-align: center; /* Indent in center */
  }

  nav {
    padding: 10px; /* Padding for content */
    text-align: right;
    font-weight: bold;
    font-style: times;
  }

  a {
    padding: 10px; /* Padding for content */
  }

  .service {
    background-color: #0d83b5;
    color: white;
    text-align: left;
    margin: 20px;
    padding: 20px;
    border-radius: 10px
  }

  .container {
    background-color: white;
    color: white;
    margin: 20px;
    padding: 20px;

  }



